.main-page {
  position: relative;
  min-height: 451px;
  overflow: hidden;
}

.main-page__bg-top {
  position: absolute;
  top: 107px;
  left: 258px;
  width: 259px;
  height: 259px;
  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
}

.main-page__bg-bottom {
  width: 211px;
  height: 210px;
  position: absolute;
  left: -55px;
  top: 241px;
  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
}

.main-page__bg-red-ball {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 29px;
  top: 402px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.main-page__bg-purple-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 296px;
  top: 236px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.main-page__glass {
  position: absolute;
  padding: 40px 34px 59px 14px;
  width: 320px;
  height: 445px;
  left: 0px;
  top: 0px;

  background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
  backdrop-filter: blur(7.5px);
}

.main-page__heading {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #E4E5EA;
  margin-top: 0;
  margin-bottom: 15px;
}

.main-page__brandname {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-page__title {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #E4E5EA;
  margin-top: 0;
  margin-bottom: 45px;
}

.main-page__text {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #E4E5EA;
  margin-bottom: 20px;
}

.main-page__notion {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-page__item {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  position: relative;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #E4E5EA;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 14px;
  padding-left: 15px;
}

.main-page__item::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
 
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);

  top: 7px;
  left: 0;
}

.main-page__item:nth-child(3) {
  margin-right: 15px;
}

.main-page__item:last-child {
  margin-right: 0;
}


