.main-content {
  position: relative;
  min-height: 451px;
  overflow: hidden;
}

.main-content__bg-top {
  position: absolute;
  top: 107px;
  left: 258px;
  width: 259px;
  height: 259px;
  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
}

.main-content__bg-bottom {
  width: 211px;
  height: 210px;
  position: absolute;
  left: -55px;
  top: 241px;
  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
}

.main-content__bg-red-ball {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 29px;
  top: 402px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.main-content__bg-purple-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 296px;
  top: 236px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.main-content__glass {
  position: absolute;
  padding: 40px 34px 59px 14px;
  width: 320px;
  height: 445px;
  left: 0px;
  top: 0px;

  background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
  backdrop-filter: blur(7.5px);
}

.main-content__heading {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #E4E5EA;
  margin-top: 0;
  margin-bottom: 15px;
}

.main-content__brandname {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-content__title {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #E4E5EA;
  margin-top: 0;
  margin-bottom: 45px;
}

.main-content__text {
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #E4E5EA;
  margin-bottom: 20px;
}

.main-content__notion {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-content__item {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  position: relative;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #E4E5EA;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 14px;
  padding-left: 15px;
}

.main-content__item::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
 
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);

  top: 7px;
  left: 0;
}

.main-content__item:nth-child(4) {
  margin-right: 15px;
}

.main-content__item:last-child {
  margin-right: 0;
}

.main-content__span,
.main-content__item--widget,
.main-content__item--crm,
.main-content__button {
  display: none;
}

@media (min-width: 1440px) {
  .main-content {
    height: 720px;
  }

  .main-content__bg-top {
    position: absolute;
    top: -154px;
    left: 602px;
  }

  .main-content__bg-bottom {
    top: 251px;
    left: -102px;
  }

  .main-content__glass {
    background: none;
    backdrop-filter: none;
    padding: 0;
    width: 100%;
    height: 513px;
  }

  .main-content__bg-purple-ball {
    height: 60px;
    width: 60px;
    left: 718px;
    top: -2px;
    border-radius: 50%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  .main-content__bg-red-ball {
    width: 83px;
    height: 83px;
    left: 369px;
    top: 83px;
    border-radius: 50%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  .main-content__heading {
    margin-top: 209px;
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 58px;
    width: 362px;
  }

  .main-content__brandname {
    font-size: 48px;
    line-height: 58px;
  }

  .main-content__title {
    width: 275px;
  }

  .main-content__glass {
    display: flex;
    justify-content: space-between;
  }

  .main-content__wrapper:nth-child(2) {
    margin-top: 224px;
    position: relative;
  }

  .main-content__text {
    width: 291px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .main-content__notion {
    text-transform: uppercase;
  }

  .main-content__list {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
  }

  .main-content__item {
    padding-left: 0;
    margin-bottom: 30px;
    width: 164px;
    text-transform: uppercase;
    font-family: 'Inter', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: right;
    letter-spacing: 0.05em;
  }

  .main-content__item::before {
    display: none;
  }

  .main-content__item:nth-child(1) {
    margin-right: 36px;
  }


  .main-content__item:nth-child(1),
  .main-content__item:nth-child(5) {
    margin-bottom: 0;
  }

  .main-content__item:nth-child(2),
  .main-content__item:nth-child(5) {
    display: none;
  }

  .main-content__item:nth-child(6) {
    width: 130px;
    text-align: right;
  }

  .main-content__item--widget {
    display: block;
    order: 1;
    margin-right: 31px;
  }

  .main-content__item--dashboard {
    width: 145px;
    order: 2;
    flex-grow: 1;
  }

  .main-content__item--dashboard .main-content__span {
    display: inline-block;
    width: 100%;
  }

  .main-content__item:nth-child(4) {
    margin-right: 0;
  }

  .main-content__item--audit {
    order: 3;
  }
  .main-content__item--crm {
    display: block;
    order: 4;
    flex-grow: 1;
  }

  .main-content__span {
    display: block;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: lowercase;
  }

  .main-content__span-crm {
    text-transform: uppercase;
  }

  .main-content__button {
    position: absolute;
    top: 335px;
    right: 0;
    display: block;
    width: 262px;
    background-color: #4077F3;

    font-family: 'Inter', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    padding: 21px 0 21px;
    color: #E4E5EA;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .main-content__bg-small-ball {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 411px;
    top: 341px;
    border-radius: 50%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
}


